@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #15050e;
}

::-webkit-scrollbar-thumb {
  background: #c933ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #fc2ca5;
}
